{% extends "base.html" %}

{% block title %}Under The Radar{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}! Welcome to your homepage!</p> 

<br/>
<p><a class="btn btn-primary" href="{% url 'post_list' %}" role="button">
  Back to Dashboard</a></p>
{% else %}

<h1 style="font-size: 60px; text-align: center; font-style:italic;"><span>Under The Radar</span></h1>
<hr class="solid">
<style>
  hr.solid {
    border-top: 6px solid #000;
    opacity: 1;

  }
</style>
<h2 class="right">Latest Discussions</h2>

</style>
{% endif %}
{% endblock content %}