{% extends "base.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}


<h1 style="font-size: 60px; text-align: center; font-style:italic;"><span> Your Dashboard</span></h1>

{% for post in post_list %}
<div class="card">
  <div class="card-header">
    <span class="fw-bold">
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </span> &middot;
    <span class="text-muted">by {{ post.author }} |
      {{ post.date }}</span>
  </div>
  <div class="card-body">
    {{ post.body }}
  </div>
  <div class="card-footer text-center text-muted">
    {% if post.author.pk == request.user.pk %}
    <a href="{% url 'edit_post' post.pk %}">Edit</a>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}
    <a href="{{ post.get_absolute_url }}">New Comment</a>
  </div>
  <div class="card-footer">
    {% for comment in post.comment_set.all %}
    <p>
      <span class="fw-bold">
        {{ comment.author }} &middot;
      </span>
      {{ comment }}
    </p>
    {% endfor %}
  </div>
</div>
<br/>

{% endfor %}
<footer style="text-align: center; background-color: #000;">
  <a href="#top">Back to the Top</a>
  <p style="color:white">&copy; 2024 Robinson</p>
</footer>
</body>
{% endblock content %}