{% extends "base.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}
{% for post in post_list %}
<div class="card">
  <div class="card-header">
    <span class="fw-bold">
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </span> &middot;
    <span class="text-muted">by {{ post.author }} |
      {{ post.date }}</span>
  </div>
  <div class="card-body">
    {{ post.body }}
  </div>
  <div class="card-footer text-center text-muted">
    {% if post.author.pk == request.user.pk %}
    <a href="{% url 'edit_post' post.pk %}">Edit</a>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}
  </div>
</div>
<br />
{% endfor %}
{% endblock content %}